
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Red+Hat+Display:wght@300&family=Space+Grotesk:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* top: 0; */
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

.accent-text{
  font-family: 'Krona One', sans-serif;
  -webkit-text-stroke: 2px rgb(0,0,0, 0.30);
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 92px;
  overflow:hidden;
  width: 2000%;
  line-height: 1.05;
}

.timeline-center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

}

button.dark svg {
  fill: #000;
}

button.dark {
  box-shadow: 5px 5px black ;
  color: #000;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  top: 0;
  box-sizing: border-box;
}



/************ Navbar Css ************/
nav.navbar {
  width: 100%;
  top: 0;
  border: 1.56642px solid #000000;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}



nav.navbar a.navbar-brand {
  width: 9%;
}

/* 
.header {
  display: flex;
  justify-content: space-between;
} */

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 700;
  color: white;
  margin-right: -0.5vw;
  margin-bottom: 5px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  background-color: #5C40EC;
  padding: 0 25px;
  font-size: 19px;
  line-height: 24px;
  opacity: 0.75;
}




.heading__container {
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #FFEB01;
}

.heading {
  /* line-height: 128px; */
  text-shadow: '4.82823px 4.82823px 0px red'
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.non__scrolled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .scrolled .navbar-options {
    /* display: none; */
  }

  .non__scrolled.navbar.navbar-expand-md.navbar-light {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFEB01;
    justify-content: space-between;
  }

  .non__scrolled .navbar-options {
    /* display: none; */
  }

  .heading {
    font-family: 'Space Grotesk';
    font-style: normal;
    color: #05040E;
    font-weight: 700;
  }

}


.heading {
  display: flex;
  /* display: inline; */
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  /* font-family: 'Red Hat Display ' !important; */
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  color: #0E0E2C;
  /* font-size: 1.25rem; */
  /* font-size: 120px;
  line-height: 145px; */
}

/* nav.navbar.scrolled.heading { */
/* font-size: 28p; */
/* font-family: 'Red Hat Display'; */
/* font-style: normal;
  color: white;
  font-size: 30px; */
/* display: none; */
/* } */
/* nav.navbar.scrolled.heading__container { */
/* color: white; */
/* flex: 0.25;
  height: 20px;

  width: 25vw;
  background-color: #5C40EC; */
/* padding: 2px; */
/* font-size: 30px; */
/* } */
/* nav.navbar.scrolled.heading__container{
  background-color: #5C40EC;
}  */

@media screen and (max-width: 900px) {
  .heading {
    width: 100%;
    font-size: 10vw;
    /* height: 0.5vw; */
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 2vw;
  }

  nav.navbar {
    display: flex;

  }
}

/* @media screen and (min-width: 768px) and (max-width:900px) {
  .heading{
    font-size: ;
  }
}  */
/* .navbar-options{
  border: 1.56642px solid #000000;
} */

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler {
  /* border: 1px solid black; */
  width: 100%;
  /* color: white; */
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  /* border-bottom: 2px solid #fff; */
  transition: all 300ms linear;
  top: -2px;
}



nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: red;
  /* color: #000; */
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: red;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: red;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.toggleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  /* border: 1px solid black; */
}

.navbar-options {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border: 1px solid black; 

  background: #5C40EC;
  border-width: 3px 0px;
  border-style: solid;
  border-color: #000000;
  padding: 20px 60px 20px 40px;
  gap: 48px;
  /* display: none; */
}

/* nav.navbar.scrolled { */
/* display: none; */
/* background-color: white; */
/* } */
/* nav.navbar.scrolled {
  top: 0;
  width: 100%;
  /* height: 50px; */
  /* position: fixed;
  display: none;

  justify-content: space-between;
} */ 


/* nav.navbar.scrolled .heading__container h2 {
  height: fit-content;
  padding: 0;
  margin: 0;
  font-size: 30px;
} */

/* nav.navbar.scrolled.navbar-options {
  width: 75vw;
  display: none;
} */

/* nav.navbar.scrolled .navbar-nav .nav-link.navbar-link {
  color: white !important;
  font-size: 20px;
} */

/* nav.navbar.scrolled .navbar-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  /* justify-content: flex-end; */
  /* border: 0px solid #5C40EC; */

.header-name {
  display: none;
}

nav.navbar.scrolled .header-name {
  display: block;
  /* justify-content: flex-end; */
  border: 0px solid #5C40EC;
}


/* .non__scrolled.heading__container{
  background-color: #AA367C;
}
@media screen and (max-width: 767px) {
  .heading__container{
    background-color: blue;
    border: 2px solid black;
  }
} */
@media screen and (min-width: 768px) and (max-width: 900px) {
  nav.navbar.scrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/************ Banner Css ************/
.banner {
  /* margin-top: 234px; */
  /* padding: 260px 0 100px 0; */
  /* border: 2px solid red; */
  /* background-image: url('./assets/img/banner-bg.png'); */
  /* border: 2px solid red; */
  background-color: white;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;

}

/* .navbar-toggler-icon{
  color: black;
} */

.banner .tagline {
  /* font-family: 'Space Grotesk', sans-serif; */
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /* width: 377px; */
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* font-size: 48px; */
  display: inline-block;
}

.tag {
  width: 377px;
  /* height: 112px; */

  /* H1/Bold */

  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 50px;
  /* or 117% */

  /* display: flex;
  align-items: center;
  font-feature-settings: 'zero' on; */

  /* Black */

  color: #000000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.below {
  margin-right: 20px;
}

.banner_right {
  display: flex;
  /* border: 2px solid red; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 50%;
  /* height: 100%; */
  /* border: 2px solid black; */
  background-color: white;
}

/* .banner-right-img
{
  border: 2px solid black;
} */
.banner_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 144px 60px;
  width: 50%;
  background-color: white;
  border-right: 3px solid #000000;
}

.banner h1 {
  font-size: 65px;
  font-weight: 1000;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #000000;
  background-color: white;
  box-shadow: 4px 4px 0px #000000;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  padding: 9px, 32px, 9px 32px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner-row {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  width: 377.36px;
  height: auto;
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

#left {
  background-color: #FFEB01;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
}

#right {
  background-color: black;
  color: white;
  border: 1px solid #FFFFFF;
  box-shadow: 4px 4px 0px #000000;
}

@media screen and (max-width: 767px) {
  .banner-row {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }

  .banner_left {
    padding: 40px 0 ;
    display: flex;
    flex-direction: row;
    width: 85%;
    border-right: none;
    background-color: #FFFFFF;
    outline: none;
  }

  .banner_right {
    /* width: 1000px; */
    background-color: #FFFFFF;
    /* border: 2px solid black; */
  }

  

  .banner__buttons__two {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 80px;
  }

  .banner__buttons__one {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .banner__buttons__two {
    display: none;
  }
  
}


/************ Skills Css ************/


.skill {
  background: #F96300;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* final-color-pitch-black */
  /* border-bottom: 1.69312px solid #000000; */
  border-bottom: 3px solid #000000;
  padding-bottom: 100px;
}

/* .skill-bx{
  height: %;
} */
.skill h2 {
  /* font-size: 45px; */
  font-weight: 700;
  text-align: center;
  color: #000;
  padding: 35.7831px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-size: 52px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.2px;

  /* final-color-pitch-black */

  color: #000000;


  /* background-color: white; */
}

.skill p {
  background-color: white;
  color: #000;
  box-sizing: border-box;
  border: 1.69312px solid #000000;
  border-radius: 406.349px;
  letter-spacing: 0.8px;
  padding: 40px 150px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
}

.about-para {
  background-color: white;
  border: 1.69312px solid #000000;
  border-radius: 406.349px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 28.7831px;
  /* margin-left: 100px;
  margin-right: 100px; */
  box-shadow: 5px 5px 0px #000000;
  /* box-shadow: 5px 5px 0px #000000; */
}

@media screen and (max-width: 767px) {
  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .about-para {
    margin: auto;
    width: 80%;
    height: 60%;
    border-radius: 12px;
  }

  .skill h2 {
    font-size: 8vw;
  }

  .skill p {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    height: 60%;
  }

  .hide{
    display: none;
  }

  .tag{
    font-size: 36px;
    line-height: 1em;
  }
}

.past-stats-list::before{
  content: url('../../public/list-marker.svg');
  align-items: center;
}

@layer utilities {
  .font-brygada {
    font-family: 'Brygada 1918', serif;
  }
}


/* prizes */
@media screen and (max-width: 796px) {
.solana{
  width: 380px;
}
}