@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .font-brygada {
    font-family: 'Brygada 1918', serif;
  }
}