@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



@tailwind base;
@tailwind components;
@tailwind utilities;